@tailwind base;
@tailwind components;
@tailwind utilities;

/* ! Header */

header{
  height: 7vh;
  background-color: rgba(175, 175, 175, 0.418);
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}
header>ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 380px;
  align-items: center;
  font-weight: 700;
  color: white;
}
header>ul>a{
  border-radius: 7px;
  margin: 0 5px;
  padding: 5px 10px;
  background-color:black;
}
header>ul>a:hover{
  background-color: white;
  color: black;
}
header>a{
  height: 50px;
  width: 50px;
  background-color: black;
  border-radius: 20px;
  cursor: pointer;
}
header>div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 190px;
  list-style: none;
}
header>div>a{
  font-weight: 800;
}
/* ! End Header */
/* ! Profile  */
.profile-page{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93vh;
}
/* ! End Profile  */